.page-wrapper {
  position: relative;
}

.explanation {
  width: 60%;
  margin-right: 35%;
  border-right: 1px solid darkblue;
  padding-right: 2%;
  box-sizing: border-box; 
}

.design-selection {
  position: absolute;
  top: 560px;
  left: 62%;
  width: 35%;
  padding: 0 2%;
  box-sizing: border-box;
}

.page-wrapper {
  padding-bottom: 200px; 
}