body {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

#zen-intro {
  height: 550px;
}

#design-archives {
  display: none;
}


header[role="banner"] {
  background-color: black;
  color: white;
  padding: 1em 0;
}

header[role="banner"] h1, 
header[role="banner"] h2 {
  display: inline-block;
  margin: 0 1em 0 0;
  vertical-align: middle;
}

header[role="banner"] h1 {
  padding-left: 1em;
}


.zen-resources ul {
  list-style-type: none;
  padding: 0;
}

.zen-resources li {
  margin-bottom: 1em;
  text-align: center;
}

footer {
  background-color: white;
  color: white;
  margin: 4%;
  padding: 1em;
  text-align: center;
}

footer a {
  border: 2px solid white;
  padding: 0.5em;
  display: inline-block;
  margin: 0 0.5em;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

footer a:hover {
  background-color: white;
  color: gray;
}