
body {
    background-color: white;
    color: black;           
    font-family: Arial, sans-serif;
}


h1, h2, h3 {
    color: green        
}

a {
    color: blue;       
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

